body{
  padding: 0px;
  margin: 0px;
  background: #fff;
  position: relative;
  text-align: center;
  font-size: 25px;
  font-weight: 800;
}
body,html{
  height: 100%;
}
.table{
  display: inline-block;
  margin-top: 50px;
}
.table div{
  margin-top:20px;
  position: relative;
}
.table div span{
  display: inline-block;
  padding: 0px 20px;
  font-size: 25px;
  line-height: 50px;
  font-weight: 800;
  width: 150px;
  text-align: right;
}
.table div input{
  width: 900px;
  height: 50px;
  border: 2px #bbb solid;
  outline: none;
  border-radius: 8px;
  margin: 20px 10px 10px 10px;
  padding-left: 10px;
  font-size: 25px;
  font-weight: 700;
}
.table div input:focus{
  border: #6CBEEB 2px solid;
  box-shadow:  0px 0px 20px  #6CBEEB;
}
tip{
  position: relative;
  display: none;
  color: #bbb;
  width: 500px;
  left: 210px;
  text-align: left;
  margin-bottom: 20px;
}
#submit{
  display: inline-block;
  height: 50px;
  font-size: 25px;
  line-height: 50px;
  padding:  0px 25px;
  float: right;
  font-weight: 800;
  color: #fff;
  outline: none;
  border: none;
  background: #0078B4;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 10px;
}
