body, html {
    padding: 0px;
    margin: 0px;
    background: #aaa;
}
.demo1 {
    width: 200px;
    height: 200px;
    margin: 100px auto;
    background: red;
    -webkit-clip-path: polygon(20% 100%, 10em 0, 100% 0, 80% 50%,0 50%);
    clip-path: polygon(0 100%, 0 0, 100% 0, 80% 100%);

}
