body
{
  width: 800px;
  display: table;
}
.frame
{
  height: 600px;
  display: table-cell;
  vertical-align: middle;
  border: 2px solid #ccc;
  position: relative;
}
.box
{
  width: 400px;
  height: 200px;
  background-color: #ccc;
  margin-left: auto;
  margin-right:auto;
  position: relative;
  overflow: hidden;
}
.circle1
{
  width: 100px;
  height: 100px;
  background-color: #fc0;
  border-radius: 50px;
  position: absolute;
  top:-50px;
  left: -50px;

}
.circle2
{
  width: 100px;
  height: 100px;
  background-color: #fc0;
  border-radius: 50px;
  position: absolute;
  bottom: -50px;
  right: -50px;

}
