body{

	width:100%;
	overflow:hidden;

}



.hide{ display:none;}

.page{
	width:100%;
	height:100%;
	position:absolute;
	font-size:100px;
	text-align:center;
}

.page .wrap{
	height:500px;
}

.page-1-1{ background-color:#083846;}
.page-2-1{ background-color:#FFBF50;}
.page-2-2{ background-color:#9261BF;}
.page-3-1{ background-color:#F3533C;}
.page-3-2{ background-color:#F3533C;}
.page-4-1{ background-color:#FFBF50;}
.page-4-2{ background-color:#FFBF50;}
.page-5-1{ background-color:#083846;}
.page-6-1{ background-color:#994C52;}
.page-7-1{ background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-image: url(../img/8.png);}
.page-8-1{ background-color:#E6B451;}
.page-9-1{ background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-image: url(../img/24.png);}


.page-current{
	z-index:1;
}

.page-1-1 .img_1 {
	height:auto;width:250px;
	position:absolute;
	left:50%;
	top:25%;
	margin-left:-125px;
}
.page-1-1 .img_2 {
	height:auto;width:200px;
	position:absolute;
	left:30%;
	top:70%;
	margin-left:-100px;
}
.page-1-1 .img_3 {
	height:auto;width:25px;
	position:absolute;
	left:50%;
	top:93%;
	margin-left:-12px;
}
.page-1-1 .img_4{
	height:auto;
	width:300px;
	position:absolute;
	left:50%;
	top:10%;
	margin-left:-150px;
}
.page-1-1 .img_5{
	height:auto;
	width:300px;
	position:absolute;
	left:50%;
	top:25%;
	margin-left:-150px;
}
.page-2-1 .img_1 {
	height:auto;width:300px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-150px;
	margin-top: 100px;
	z-index:2;
	font-size: 16px;
	color: #fff;
	background: #333;
	border-radius: 20px;
	display: inline-block;;
	padding: 10px;
	box-sizing: border-box;
}
.page-2-1 .img_2 {
	height:auto;width:200px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-175px;
		margin-top: -100px;
	border-radius: 100px;
	overflow: hidden;
	z-index: 100;
}
.page-2-1 .img_3 {
	height:auto;width:200px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-25px;
		margin-top: -70px;
	border-radius: 100px;
	overflow: hidden;
}
.page-2-1 .img_4 {
	height:auto;width:200px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-100px;
	margin-top: -230px;
	border-radius: 100px;
	overflow: hidden;
}
.page-2-1 .img_5 {
	height:auto;width:142px;
	position:absolute;
	left:50%;
	top:82%;
	margin-left:-71px;
}
.page-2-1 .img_6 {
	height:auto;width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
}
.page-2-1 .img_7 {
	height:auto;width:248px;
	position:absolute;
	left:50%;
	top:8%;
	margin-left:-110px;
}

.page-3-1 .img_1 {
	height:auto;width:300px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-150px;
	margin-top: 45px;
	z-index:2;
	font-size: 16px;
	color: #fff;
	text-indent: 0;
	background: #333;
	border-radius: 20px;
	display: inline-block;;
	padding: 10px;
	box-sizing: border-box;
}
.page-3-1 .img_2 {
	height:auto;width:300px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-150px;
	margin-top:-260px;
	border-radius: 20px;
}
.page-3-1 .img_3 {
	height:auto;width:172px;
	position:absolute;
	left:50%;
	top:28%;
	margin-left:-55px;
}
.page-3-1 .img_4 {
	height:auto;width:20px;
	position:absolute;
	left:50%;
	top:87%;
	margin-left:-10px;
}
.page-3-1 .img_5 {
	height:auto;width:142px;
	position:absolute;
	left:50%;
	top:82%;
	margin-left:-71px;
}
.page-3-1 .img_6 {
	height:auto;width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
}
.page-3-1 .img_7 {
	height:auto;width:248px;
	position:absolute;
	left:50%;
	top:43%;
	margin-left:-124px;
}
.page-4-1 .img_1 {
	height:auto;width:300px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-150px;
	margin-top: 25px;
	z-index:2;
	font-size: 16px;
	color: #fff;
	background: #F3533C;
	border-radius: 20px;
	display: inline-block;;
	padding: 10px;
	box-sizing: border-box;
}
.page-4-1 .img_2 {
	height:auto;width:150px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-155px;
	margin-top: -220px;
		border-radius: 20px;
}
.page-4-1 .img_3 {
	height:auto;width:150px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:5px;
		margin-top: -220px;
		border-radius: 20px;
}
.page-4-1 .img_4 {
	height:auto;
	width:300px;
	position:absolute;
	left:50%;
	top:5%;
	margin-left:-150px;
}
.page-4-1 .img_5 {
	height:auto;width:142px;
	position:absolute;
	left:50%;
	top:82%;
	margin-left:-71px;
}
.page-4-1 .img_6 {
	height:auto;width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
}
.page-4-1 .img_7 {
	height:auto;width:271px;
	position:absolute;
	left:50%;
	top:33%;
	margin-left:-135px;
}
.page-4-1 .img_8 {
	height:auto;width:169px;
	position:absolute;
	left:50%;
	top:75%;
	margin-left:-84px;
}
.page-5-1 .img_1 {
	height:auto;width:300px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-150px;
	margin-top: -95px;
	z-index:2;
	font-size: 15px;
	color: #fff;
	background: #313131;
	border-radius: 20px;
	display: inline-block;;
	padding: 10px;
	box-sizing: border-box;
}
.page-5-1 .img_6 {
	height:auto;width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
	z-index: 100;
}
.page-5-1 .img_2 {
	height:auto;width:300px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-150px;
	margin-top: -240px;
	border-radius: 20px;
}

.page-6-1 .img_1 {
	height:auto;width:300px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-150px;
	margin-top: -100px;
	z-index:2;
	font-size: 16px;
	color: #fff;
	background: #313131;
	border-radius: 20px;
	display: inline-block;;
	padding: 10px;
	box-sizing: border-box;
}
.page-6-1 .img_6 {
	height:auto;width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
	z-index: 100;
}
.page-6-1 .img_2 {
	height:auto;
	width:200px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-155px;
	margin-top: 55px;
	border-radius: 100px;
}
.page-6-1 .img_3 {
	height:auto;
	width:140px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:0px;
	margin-top: -250px;
	border-radius: 100px;
}
.page-6-1 .img_4 {
	height:auto;
	width:200px;
	position:absolute;
	left:50%;
	top:10%;
	margin-left:-50px;
	margin-top: -260px;
	border-radius: 100px;
}

.page-7-1 .img_1 {
	height:auto;width:300px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-150px;
	margin-top: -105px;
	z-index:2;
	font-size: 16px;
	color: #fff;
	border-radius: 20px;
	display: inline-block;;
	padding: 10px;
	box-sizing: border-box;
}
.page-7-1 .img_6 {
	height:auto;width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
	z-index: 100;
}
.page-7-1 .img_2 {
	height:auto;width:300px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-150px;
	margin-top: -260px;
	border-radius: 20px;
}

.page-8-1 .img_1 {
	height:auto;width:300px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-150px;
	margin-top: 20px;
	z-index:2;
	font-size: 20px;
	line-height: 30px;
	text-align: left;
	color: #fff;
	background: #333;
	border-radius: 20px;
	display: inline-block;;
	padding: 10px;
	box-sizing: border-box;
}
.page-8-1 .img_6 {
	height:auto;width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
	z-index: 100;
}
.page-8-1 .img_2 {
	height:auto;width:100px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-155px;
	margin-top: -230px;
	border-radius: 20px;
	z-index: 100;
}
.page-8-1 .img_3 {
	height:auto;width:100px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-50px;
	margin-top: -230px;
	border-radius: 20px;
	z-index: 100;
}
.page-8-1 .img_4 {
	height:auto;width:100px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:55px;
	margin-top: -230px;
	border-radius: 20px;
	z-index: 100;
}
.page-8-1 .img_5 {
	height:auto;width:100px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-155px;
	margin-top: -120px;
	border-radius: 20px;
	z-index: 100;
}
.page-8-1 .img_6 {
	height:auto;width:100px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-50px;
	margin-top: -120px;
	border-radius: 20px;
	z-index: 100;
}
.page-8-1 .img_7 {
	height:auto;width:100px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:55px;
	margin-top: -120px;
	border-radius: 20px;
	z-index: 100;
}
.page-8-1 .img_8 {
	height:auto;width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
	z-index: 100;
}

.page-9-1 .img_1 {
	height:auto;width:300px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-150px;
	margin-top: -65px;
	z-index:2;
	font-size: 20px;
	line-height: 30px;
	color: #fff;
	border-radius: 20px;
	display: inline-block;;
	padding: 10px;
	box-sizing: border-box;
}
.page-9-1 .img_6 {
	height:auto;width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
	z-index: 100;
}
span{
	text-indent: 2em;
}
