body {
    margin: 0px;
    padding: 0px;
    background: #aaa;
    font-size: 20px;
}
main {
    display: block;
    margin: 100px auto;
    width: 800px;
    text-align: center;
}
textarea{
  width: 200px;
  height: 60px;
}
button {
    width: 84px;
    display: inline-block;
    box-sizing: border-box;
}
.showData span {
    vertical-align: bottom;
    padding: 15px;
    margin-top: 25px;
    margin-left: 5px;
    background: tomato;
    display: inline-block;
    cursor: pointer;
    transition: all .3s ease-in-out .1s;
    -webkit-transition: all .3s ease-in-out .1s;
}
.showData span:hover {
    background: #abc;
}
.showData {
    vertical-align: bottom;
}
#searchText{
  width: 180px;
  margin:0px;
}
#search{
  margin-left: 0px; 
}
