body {
    padding: 0px;
    margin: 0px;
    background: #fff;
    font-size: 0px;
    text-align: center;
}
.dateResult{
  display: block;
  margin-top: 100px;
  margin-bottom: 15px;
  cursor: pointer;
}
.dateResult img{
  width: 35px;
  float: right;
}
.imgBtn{
  display: inline-block;
  width: 65px;
  height: 40px;
  padding-right: 30px;
  border: 2px #3385FF solid;
  vertical-align: middle;
  background: #3385FF;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.dateResult span{
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  height: 40px;
  border-top:2px #aaa solid ;
  border-bottom: 2px #aaa solid ;
  border-right: 2px #aaa solid ;
  font-size: 25px;
  line-height: 40px;
}
.calendar {
    display: inline-block;
    display: none;
    border: #888 2px solid;
    border-radius: 10px;
    box-shadow: 1px 2px 5px #888;
    padding: 20px;
}
.selectDate {
    display: block;
    height: 40px;
    width: 280px;
}
.selectDate select {
    vertical-align: middle;
    display: inline-block;
    height: 30px;
    width: 70px;
    margin: 5px 10px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 20px;

}
.left, .right {
    display: inline-block;
    margin-top: 5px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    cursor: pointer;
}
.left {
    float: left;
}
.right {
    float: right;
}

.showDate{
  display: block;
  width: 280px;
  text-align: left;
}
.days span,.date span{
  display: inline-block;
  font-size: 25px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-top: 10px;
  text-align:center;
  border-radius: 5px;
}
.days span{
  font-weight: bold;
}
.date span{
  font-weight: normal;
}
.thisMonth{
  color: #000;
}
.thisMonth:hover{
  background: #347EBF;
  cursor: pointer;
}
.notThisMonth{
  color: #aaa;
}

.btn{
  height: 50px;
  text-align: center;
}
.btn button{
  width: 100px;
  background: #347EBF;
  color: #fff;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none;
  margin-right: 10px;
  margin-top: 10px;
}
