body, html {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background: #aaa;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.gallery {
    width: 90%;
    background: #fff;
    margin: 100px auto;
    border-radius: 10px;
    padding-bottom: 10px;
    padding: 10px 10px 0px 10px;
}
.gallery-box {
    width: 100%;
    height: 800px;
    /*js改*/
    box-sizing: border-box;
    position: relative;
}
.frame {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 5px;
}
figure {
    display: inline-block;
    margin: 0px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
figure:hover .figcaption {
    bottom: 0px;
}
.figcaption {
    width: 100%;
    height: 20%;
    min-height: 100px;
    height: 20%;
    position: absolute;
    bottom: -200px;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
span{
    background-color: #888;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}
figcaption {
    padding: 5px;
    padding-left: 10px;
    color: #fff;
}
figcaption p {
    text-indent: 10em;
    font-size: 18px;
    padding-left: 30%;
}
.gallery-2 .frame:last-of-type .figcaption{
  text-align: right;
  padding-right: 70%;
}

.gallery-2 .frame:first-of-type figure {
    -webkit-clip-path: polygon(0 100%, 0 0, 91% 0, 71% 100%);
    clip-path: polygon(0 100%, 0 0, 91% 0, 71% 100%);
}

.gallery-2 .frame:last-of-type figure{
    -webkit-clip-path: polygon(100% 0, 100% 100%, 5% 100%, 25% 0);
    clip-path: polygon(100% 0, 100% 100%, 5% 100%, 25% 0);
}
