html {
    font: 16px "Microsoft YaHei";
}
html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background: #313131;
    color: #fff;
}
* {
    box-sizing: border-box;
}
header, footer {
    display: block;
    margin: 0px;
    min-height: 100px;
}
header {
    display: block;
    height: 500px;
    padding: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/7.jpg);
    background-size: cover;
    text-align: center;
}
nav {
    display: block;
    margin-left: 50px;
    margin-top: 20px;
    height: 60px;
    text-align: left;
    padding: 0px;
}
nav span {
    border-radius: 5px;
    float: left;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/12.jpg);
    background-size: cover;
}
nav a {
    background: #313131;
    float: left;
    text-decoration: none;
    color: #fff;
    display: block;
    height: 60px;
    margin-left: 10px;
    border-radius: 5px;
    font-weight: 800;
    line-height: 60px;
    padding: 0px 20px;
    font-size: 1.2rem;
}
nav a:hover {
    background: #04679E;
}
.blogHeader {
    padding-top: 100px;
}
.blogHeader span {
    display: inline-block;
    font-size: 3em;
    font-weight: 800;
    text-shadow: 10px 5px 10px #000;
}
.blogHeader p {
    color: #949585;
}
#main {
    position: relative;
    top: -50px;
    min-height: 400px;
    margin: 0px 6%;
    padding: 0px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
}
#main aside {
    margin: 10px;
    flex-grow: 1;
    -webkit-flex: 1 1 20%;
    flex: 1 1 20%;
    -webkit-order: 2;
    order: 2;
    background: #222;
    padding: 30px;
}
#main aside span, div, a {
    display: block;
}
#main aside span {
    background: #555;
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-size: 1rem;
    padding-left: 15%;
}
#main aside .courses a {
    text-decoration: none;
    padding-left: 20%;
    height: 35px;
    line-height: 35px;
    color: #fff;
    background: #888;
    margin: 5px 0px;
}
#main aside .courses a:hover {
    background: #aaa;
}
#main article {
    margin: 10px;
    flex-grow: 2;
    -webkit-flex: 2 1 70%;
    flex: 2 1 70%;
    -webkit-order: 2;
    order: 2;
    background: #F3F5F7;
    padding: 43px;
}
#main .article .pageBtn {
    display: inline-block;
    text-decoration: none;
    line-height: 40px;
    height: 40px;
    font-size: 1.3rem;
    width: 100px;
    border-radius: 20px;
    background: #888;
    text-align: center;
    color: #fff;
}
#main .article .pageBtn:hover {
    background: #398470;
}
#main article .previous {
    float: left;
}
#main article .next {
    float: right;
}
#main .article span {
    display: block;
    font-weight: 800;
    font-size: 2rem;
    color: #000;
    padding: 20px 30px;
    margin-top: 80px;
}
#main .article span::before, #main .article span::after {
    content: "";
    display: block;
    clear: both;
}
#main .article .content {
    padding: 10px;
    color: #000;
    font-size: 1.1rem;
}
#main .article .content .subtitle {
    display: block;
    font-size: 1.2rem;
    margin: 0px;
}
#main .article .content p {
    text-indent: 2rem;
}
#main .article .content img {
    display: block;
    margin: 5px auto;
}
#main article textarea{
  display: block;
  padding: 20px;
  background: #888;
  border-radius: 10px;
  font-size: 1.2rem;
  color: #fff;
  outline: none;
  resize: none; 
  width: 600px;
  margin: 30px auto;

}
footer {
    margin-top: 50px;
    text-align: center;
    line-height: 100px;
}
