html {
    font: 16px "Microsoft YaHei";
}
html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background: #313131;
    color: #fff;
}
* {
    box-sizing: border-box;
}
header, footer {
    display: block;
    margin: 0px;
    min-height: 100px;
}
header {
    display: block;
    height: 500px;
    padding: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/7.jpg);
    background-size: cover;
    text-align: center;
}
nav {
    display: block;
    margin-left: 50px;
    margin-top: 20px;
    height: 60px;
    text-align: left;
    padding: 0px;
}
nav span {
    border-radius: 5px;
    float: left;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/12.jpg);
    background-size: cover;
}
nav a {
    background: #313131;
    float: left;
    text-decoration: none;
    color: #fff;
    display: block;
    height: 60px;
    margin-left: 10px;
    border-radius: 5px;
    font-weight: 800;
    line-height: 60px;
    padding: 0px 20px;
    font-size: 1.2rem;
}
nav a:hover {
    background: #04679E;
}
.blogHeader {
    padding-top: 100px;
}
.blogHeader span {
    display: inline-block;
    font-size: 3em;
    font-weight: 800;
    text-shadow:10px 5px 10px #000;
}
.blogHeader p {
    color: #949585;
}

#main {
    position: relative;
    top: -50px;
    min-height: 400px;
    margin: 0px 6%;
    padding: 0px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
}
#main aside {
    margin: 10px;
    flex-grow: 1;
    -webkit-flex: 1 1 20%;
    flex: 1 1 20%;
    -webkit-order: 2;
    order: 2;
    background: #555;
    padding: 30px;
    text-align: center;
    height: 500px;
}
#main aside .head {
    width: 100%;
    height: 150px;
}
#main aside .head img {
    width: 110px;
    height: 110px;
    border-radius: 55px;
    margin-top: 30px;
}
#main aside span {
    display: inline-block;
    font-size: 1.5rem;
    margin-top: 10px;
}
#main aside p {
    text-align: left;
}
#main article {
    margin: 10px;
    flex-grow: 2;
    -webkit-flex: 2 1 70%;
    flex: 2 1 70%;
    -webkit-order: 2;
    order: 2;
    background: #F3F5F7;
    padding: 43px;
}
#main article .controduction {
    font-size: 1rem;
    color: #555;
    line-height: 1.2rem;
    padding: 20px;
}
#main .article .index {
    border-bottom: 1px #888 solid;
}
#main .article .index .section {
    border-top: 1px #888 solid;
    position: relative;
    padding-bottom: 10px;
}
#main .article .index .section .chapter {
    display: inline-block;
    width: 80%;
    font-size: 1rem;
    color: #000;
    height: 40px;
    line-height: 40px;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 10px 0px;
    margin-left: 100px;
    cursor: pointer;

}
#main .article .index .section .chapter::before {
    content: "";
    width: 25px;
    height: 25px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/ar.png);
    margin-right: 30px;
    position: absolute;
    left: 50px;
    top: 15px;
}
#main .article .index .section .courses {
    margin-left: 100px;
    height: auto;
}
#main .article .index .section .courses a {
    background: #ccc;
    height: 35px;
    line-height: 35px;
    margin-bottom: 5px;
    color: #444;
    height: auto;
    display: block;
    cursor: pointer;
    position: relative;
    padding-left: 35px;
    text-decoration: none;
}
#main .article .index .section .courses a:hover {
    background: #888;
    color: #fff;
}
#main .article .index .section .courses a::before {
  content: "";
    border-left: 10px #aaa solid;
    border-bottom: 6px transparent solid;
    border-top: 6px transparent solid;
    display: block;
    box-sizing: content-box;
    position: absolute;
    top:12px;
    left: 20px;
}
footer {
    margin-top: 50px;
    text-align: center;
    line-height: 100px;
}
