html{
    font-size: 100%;
}
*{
  box-sizing: border-box;
}
body, html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background: #313131;
    color: #fff;
}
header, footer {
    display: block;
    margin: 0px;
    min-height: 100px;
}
header {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    background:  #313131;
    display: table;
    text-align: center;
}
iframe{
  width: 100%;
  height: 100%;
}
.foreword{
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
}
.foreword span{
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  font-size: 2rem;
  font-weight: 800;
  padding: 2rem;
}
.main {
    min-height: 400px;
    margin: 0px 6%;
    padding: 0px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
}
.main section {
    flex-grow: 1;
    margin: 10px;
    -webkit-flex: 1 1 20%;
    flex: 1 1 20%;
    -webkit-order: 2;
    order: 2;
}
.main section a {

    display: inline-block;
    height: 230px;
    padding: 10px;
    width: 100%;
    text-align: left;
    text-indent: 2rem;
    font-weight: 800;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    margin: 5px 0px;
    display: table;
}
.main section span{
  display: table-cell;
  vertical-align: middle;
}
.main section:nth-of-type(1) a{
  background: #9C9B31;
}
.main section:nth-of-type(2) a{
  background: #9B3131;
}
.main section:nth-of-type(3) a{
  background: #329B63;
}
.main section:nth-of-type(4) a:nth-of-type(1){
  background: #D19B2E;
}
.main section:nth-of-type(4) a:nth-of-type(2){
  background: #04679E;
}

.main section div {
    margin: 5px 0px;
    width: 100%;
    height: 260px;
    display: block;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}
#p1{
  background-image: url(../imgUs/1.png);
}
#p2{
  background-image: url(../imgUs/2.png);
}
#p3{
  background-image: url(../imgUs/5.png);
}
#p4{
  background-image: url(../imgUs/3.png);
}
#p5{
  background-image: url(../imgUs/9.png);
}
#p6{
  background-image: url(../imgUs/10.png);
}
#p7{
  background-image: url(../imgUs/7.png);
}
#p8{
  background-image: url(../imgUs/8.png);
}
#p9{
  background-image: url(../imgUs/11.png);
}
#p10{
  background-image: url(../imgUs/12.png);
}
#p11{
  background-image: url(../imgUs/23.png);
}
#p12{
  background-image: url(../imgUs/24.png);
}
.main section .photo2 {
    height: 130px;
}
.main section .a2 {
    height: 360px;
    display: table;
}
.main section .a2 span{
  display: table-cell;
  vertical-align: middle;
}
footer {
    text-align: center;
    line-height: 100px;
}
@media all and (max-width: 860px) {
  .main section a{
      font-size: 1rem;
  }

}
/* 窄到已不足以支持三栏 */

@media all and (max-width: 640px) {

    .main {
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        margin: 0px 0px;
    }
    .main section {
        -webkit-flex: 1 1 40%;
        flex: 1 1 40%;
        margin: 5px;
        min-width: 1px;
    }
    .main>article, .main>nav, .main>aside {
        /* 恢复到文档内的自然顺序 */
        -webkit-order: 0;
        order: 0;
    }
    .main>nav, .main>aside,  footer {
        min-height: 50px;
        max-height: 50px;
    }
}
