body{
  margin: 0px;
  padding: 0px;
  background: #aaa;
}
canvas{
  display: block;
  margin: 50px auto;
}
.command{
  display: block;
  margin: 50px auto;
  width: 290px;
}
.command input{
  width: 200px;
  height: 40px;
  border: 2px solid #888;
  border-radius: 5px;
  outline: none;
  font-size: 25px;
  font-weight: 800;
  vertical-align: middle;
  padding-left: 10px;
}
.command button{
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  font-weight: 800;
  vertical-align: middle;
}
