body {
    background: #aaa;
}
.tree {
    display: inline-block;
    height: 150px;
    font-size: 0;
}
span {
    font-weight: bolder;
    display: inline-block;
    border: 2px #000 solid;
    height: 100%;
    box-sizing: border-box;
    padding: 12px;
    vertical-align:middle;
    margin: 2px;
}
a{
  font-size: 20px;
}

.btn{
  display: block;
  width: 800px;
  margin: 50px 0px 0px 270px;
  font-size: 0;
}

button{
  cursor: pointer;
  display: inline-block;
  width: 80px;
  height: 30px;
  border: 0;
  color:#333;
  font-size: 20px;
  font-weight: bolder;
  vertical-align: top;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; 
}
input{
  display: inline-block;
  width: 80px;
  height: 30px;
  vertical-align: top;
  border: 0;
  font-size: 25px;
  padding: 0;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: 0;

}
.traverse{
  margin-right: 100px;
  border-radius: 5px;
}
