body {
    padding: 0px;
    margin: 0px;
}
.round div {
    background-color: #439;
}
.one {
    width: 200px;
    height: 200px;
    margin: 30px;
    display: inline-block;
    border-radius: 100px;
}
.two {
    width: 100px;
    height: 200px;
    margin: 30px;
    border-radius: 100px 0px 0px 100px;
    display: inline-block;
}
.three {
    width: 200px;
    height: 100px;
    margin: 30px;
    display: inline-block;
    border-radius: 100px 100px 0px 0px;
}
.box {
    width: 100px;
    height: 100px;
    background-color: #284;
    margin: 30px;
    box-shadow: 4px 2px 20px 10px #129, -4px -2px 20px 10px #432, 5px 1px 6px 4px red inset;
}
.border {
    margin: 60px;
    background: #F4FFFA;
    width: 210px;
    height: 210px;
    border: 70px solid #ddd;
    border-image: url(border.jpg) 70 repeat;
}
.transparent {
    width: 200px;
    height: 100px;
    background-color: rgba(2, 123, 2, 0.3);
    margin: 30px;
}
.gradient {
    width: 400px;
    height: 100px;
    margin: 30px;
    background-image: linear-gradient(to bottom, red, orange, yellow, green, blue, indigo, violet);
}
.text {
    width: 200px;
    height: 100px;
    color: #fff;
    background-color: #231;
    margin: 30px;
    word-wrap: normal;
    overflow: hidden;
}
@font-face {
    font-family: "MOOC Font";
    src: url("http://www.imooc.com/Amaranth-BoldItalic.otf");
}
.font
{
  background-color: #fff;
  width: 200px;
  height: 100px;
  margin: 30px;
  color: #000;
  text-align: center;
  line-height: 100px;
  font-family: "MOOC Font";
  text-shadow: 4px 2px 3px red;
}
.background
{
  width: 300px;
  height: 100px;
  background-color: #fff;
  margin: 30px;
  border: 20px dashed #aaa;
  background:#ccc url(http://static.mukewang.com/static/img/logo_index.png) no-repeat;
  background-origin: content-box;
  background-clip:padding-box;
  background-size: cover;
}
.multiple-background
{
  background-image: url(http://img.imooc.com/54cf2365000140e600740095.jpg),
                      url(http://img.imooc.com/54cf238a0001728d00740095.jpg),
                      url(http://img.imooc.com/54cf23b60001fd9700740096.jpg);
    background-position: left top, 100px 0, 200px 0;
    background-repeat: no-repeat, no-repeat, no-repeat;
    width: 300px;
    height: 100px;
    margin: 30px;
    background-color: #fff;
}
.choose
{
  color: #fff;
  margin: 30px;
}
.choose p[sx^=mia]
{
  color: red;
}
.choose p[sx$=mia]
{
  color: blue;
}
.choose p[sx*=f]
{
  color: tomato;
}
:root
{
  background-color: #666;
}
body>div
{
  margin: 30px;
}
.not p:not([alt="2"])
{
  color: red;
}
.empty p
{
  width: 100px;
  height: 50px;
  background-color: red;
}
.empty p:empty
{
  display: none;
}
.target p
{
  display: none;
}
#one:target
{
  width: 200px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  color: #fff;
  font-size: 40px;
  background-color: blue;
  display: block;
}
.transition
{
  width: 100px;
  height: 100px;
  margin: 100px auto;
  background-color: tomato;
}
